<!DOCTYPE html>
<html lang="cs">
    {{- partial "head.html" . -}}
    <body class="flex flex-col min-h-screen" style="background-image: url('{{ .Site.Params.backgroundImage }}'); background-size: cover">
        {{- partial "header.html" . -}}
        <main class="flex-1">
        {{- block "main" . }}{{- end }}
        
        </main>
        {{- partial "footer.html" . -}}

        <script  asynch>
            //Javascript to toggle the nav-menu
            document.getElementById('nav-open').onclick = function () {
                document.getElementById("nav-menu").classList.toggle("hidden");
                document.getElementById("nav-open").classList.toggle("hidden");
                document.getElementById("nav-close").classList.toggle("hidden");
            }
            document.getElementById('nav-close').onclick = function () {
                document.getElementById("nav-menu").classList.toggle("hidden");
                document.getElementById("nav-close").classList.toggle("hidden");
                document.getElementById("nav-open").classList.toggle("hidden");
            }
        </script>

        <script asynch>
            // Netlify CMS
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", user => {
                    if (!user) {
                        window.netlifyIdentity.on("login", () => {
                            document.location.href = "/admin/";
                        });
                    }
                });
            }
        </script>

    </body>
</html>
