{{ define "main" }}
<article class="text-black bg-gray-100 opacity-75 px-24 py-12 my-8">
    <h1 class="flex-row font-bold text-6xl tracking-widest">{{ .Title | upper }}</h1>
    <!-- {{ .Content }} -->
    <div class="flex">
        <div class="flex-row p-4">
            <a href="{{ .Params.galerieBak }}"><img src="{{ .Params.imageBak }}" alt="obrázek Bak" style="height:15em" class="pr-10"></a>
            <div class="text-3xl font-bold justify-start mt-2 tracking-wide text-center">{{ .Params.nameBak | upper }}</div>
        </div>
        <div class="flex-row p-4">
            <a href="{{ .Params.galerieBeauty }}"><img src="{{ .Params.imageBeauty }}" alt="obrázek Beauty" style="height:15em"></a>
            <div class="text-3xl font-bold mt-2 tracking-wide text-center">{{ .Params.nameBeauty | upper }}</div>
        </div>
    </div>
</article>
{{ end }}
