{{ define "main" }}
<article class="bg-gray-100 opacity-75 px-12 md:px-24 py-6 md:py-12 my-8">
    <a href="https://glowofamber.rajce.idnes.cz/">
        <h1 class="tracking-widest font-bold text-4xl md:text-4xl">{{ .Title | upper }} zde ...</h1>
    </a>
    <div class="flex">
        <div class="flex-row pt-8">
            <a href="https://glowofamber.rajce.idnes.cz/">
                <img src="{{ .Params.image }}" alt="Galerie, obrazek Bak a Beuty" class="rounded shadow-2xl sm:h-32 md:h-32 lg:h-64 object-scale-down border-2 hover:border-orange-500">
            </a>
        </div>
    </div>
</article>
{{ end }}
