{{ define "main" }}
<article class="text-black bg-gray-100 opacity-75 px-24 py-12 my-8">
    <h1 class="tracking-widest text-4xl md:text-6xl pb-6">{{ .Title | upper }}</h1>
    <div class="flex">
        <div class="border-r-4 border-amber">
            {{ range .Pages }}
                <div class="flex pt-6">
                    <img src=" {{ .Params.Image }} " alt="obrázek novinky" class="shadow rounded mr-10 mt-3 h-40 w-80 object-cover">
                    <div class="inline-block w-auto pr-20">
                        <div class="inline-block font-bold font-thin text-2xl text-black">{{ .Title }}</div>
                        <div class="inline-block text-gray-600 text-xl pl-1">{{ dateFormat "2. 1. 2006" .Date }}</div>
                        <div class="inline-block text-black text-justify pt-4">{{ .Content }}</div>
                    </div>
                </div>
            {{ end }}
        </div>
        <div class="w-screen inline-block">            
            <div class="text-3xl font-bold justify-start mt-2 ml-8">ARCHIV</div>
            <div class="font-bold text-xl pl-8">2020</div>
            <div class="font-bold text-xl pl-8">2019</div>
        </div>
    </div>
</article>
{{ end }}